@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    background-color: #f6f6f6 !important;
    font-family: "Playfair Display", serif;
}
.font-family{
  font-family: "Playfair Display", serif;
}

.ant-layout-sider{
  top: 80px !important;
}


:where(.css-xu9wm8).ant-layout.ant-layout-has-sider {
  flex-direction: row;
  padding: 85px 0px !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-layout-content{
  margin-top: 85px !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-pagination {
  box-sizing: border-box;
  padding: 0 2.5rem  !important;
  color: #ffff !important;
  font-family: "Playfair Display", serif !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-pagination .ant-pagination-item-active{
  border: none !important;
  background-color: #0f337a !important;
  border-radius: 0.25rem
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-pagination .ant-pagination-item-active a{
  color: #ffff !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-pagination .ant-pagination-item-active:hover a {
  color: #fff !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-pagination .ant-pagination-item a {
  display: block;
  padding: 0 6px;
  color: #0f337a;
  border: 1px solid #0f337a !important;
  border-radius: 0.25rem
  
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-pagination .ant-pagination-prev, :where(.css-dev-only-do-not-override-xu9wm8).ant-pagination .ant-pagination-next {
  font-family: "Playfair Display", serif !important;
  padding: 0 6px;
  color: #0f337a !important;
  border: 1px solid #0f337a !important;
  border-radius: 0.25rem
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-select-single {
  font-size: 14px;
  height: 32px;
  color: #0f337a !important;
  border: 1px solid #0f337a !important;
  border-radius: 0.25rem
}

.ant-steps .ant-steps-item-icon {
  margin-top: 5px !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: #0f337a;
}

.ant-layout-header{
 background-color: #0f337a !important;
}

.ant-layout-header a{
 color: white !important;
 font-family: "Playfair Display", serif !important;
}

.ant-input:focus{
  border-color: #0f337a !important;
}

.ant-select  .ant-select-selector{
 background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
 border: none !important;
}

button[data-toggle-navbar][data-is-open="true"] #line-1 {
  transform: translateY(0.375rem) rotate(40deg);
}

button[data-toggle-navbar][data-is-open="true"] #line-2 {
  transform: scaleX(0);
  opacity: 0;
}

button[data-toggle-navbar][data-is-open="true"] #line-3 {
  transform: translateY(-0.375rem) rotate(-40deg);
}

.ant-tabs-nav-list{
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  margin-bottom: 30px !important;
}

.ant-tabs .ant-tabs-tab-active {
  color: #ffff !important;
  background-color: #0f337a !important;
  text-shadow: 0 0 0.25px currentcolor;
}
.ant-tabs .ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #ffff !important;
  font-family: "Playfair Display", serif !important;
}

.ant-tabs .ant-tabs-tab-btn{
  color: #0f337a !important;
  border: 0.25px solid #0f337a !important;
  padding: 7px 25px !important;
  font-family: "Playfair Display", serif !important;
}

.ant-tabs .ant-tabs-tab {
  padding: 0px 0px !important;
  margin: 0px 0px  !important;
  border-right: 0px !important;
}

.ant-tabs .ant-tabs-ink-bar {
  position: absolute;
  background: none !important;
  pointer-events: none;
}

.image {
  max-width: 100%;
  max-height: 300px !important; 
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-btn-primary {
  color: #fff;
  background-color: #0f337a !important;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}